.weatherBg {
  background: url("https://afb.accuweather.com/hs-fs/hubfs/mountain%20canada.jpg?width=1200&height=628&name=mountain%20canada.jpg");
  display: flex;
  height: 50vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.heading{
  margin-top: 500px;
  color:black;
  font-weight: 900;
}

.weatherResultBox{

  
  width: 500px;
  height: 300px;
}

.weatherIcon{

  height:100px;
  width:100px;
}

.weatherCity{

  font-size: 25px;
  text-align: center;
}

.weatherTemp{
  text-align: center;
  font-size: 55px;
}